<!--<button mat-button><mat-icon fontIcon="home"></mat-icon><span>Home</span></button>-->
<!--<button mat-button><mat-icon fontIcon="lock"></mat-icon> Private Page</button>-->
<!--<button mat-button disabled><mat-icon fontIcon="report_problem"></mat-icon>Empty Page</button>-->

<!--<button mat-fab [matMenuTriggerFor]="userMenu">-->
<!--    <mat-icon fontIcon="account_circle"></mat-icon>-->
<!--</button>-->
<!--<mat-menu #userMenu="matMenu">-->
<!--    <button mat-menu-item>-->
<!--&lt;!&ndash;        <mat-icon fontIcon="login"></mat-icon>&ndash;&gt;-->
<!--        <span>signin</span>-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--&lt;!&ndash;        <mat-icon  fontIcon="app_registration"></mat-icon>&ndash;&gt;-->
<!--        <span>registration</span>-->
<!--    </button>-->
<!--    <button mat-menu-item>-->
<!--&lt;!&ndash;        <mat-icon fontIcon="logout"></mat-icon>&ndash;&gt;-->
<!--        <span>logout</span>-->
<!--    </button>-->
<!--</mat-menu>-->


<div class="card">
<!--    <p-tabMenu [model]="items"></p-tabMenu>-->
<!--    <button type="button" pButton pRipple label="Activate Last" (click)="activateLast()" class="mb-3"></button>-->
<!--    <p-tabMenu [model]="items"  (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>-->
</div>


