:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  > div.header {
    display: flex;
    flex: 0 0 70px;
    background: black;
    align-items: center;

    > a {
      font-size: xx-large;
      margin: 0 20px ;
    }
  }

  > div.main {
    display: flex;
    flex: 1;
    padding: 1em;
  }

  > div.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
    color: white;
    flex: 0 0 30px;
  }
}