:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

div.title {
  display: flex;
  flex: 0 0 20%;
  color: white;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}