:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  background: yellow;
  border: 1px solid black;
}

.title {
  flex: 0 0 20%;
  background: blue;
}

.main {
  flex: 1;
  background: greenyellow;
  padding: 10px;
  overflow-y: auto;
}