<div class="card">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-user mr-2"></span>
                <span class="font-bold text-lg">CREATE TASK</span>
            </div>
        </ng-template>
        <app-create-task></app-create-task>
    </p-fieldset>
</div>

<div class="card">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-user mr-2"></span>
                <span class="font-bold text-lg">TASK BOARD</span>
            </div>
        </ng-template>
        <div style="display: flex; height: 400px; width: 100%; padding: 10px; justify-content: space-around">
            <ng-container *ngFor="let listItem of list$ | async">
<!--                <div style="display: flex; flex: 0 0 20%; background: green">-->
                    <app-task-panel [panel]="listItem"></app-task-panel>
<!--                </div>-->
            </ng-container>
        </div>
    </p-fieldset>
</div>